<div class="container">
  <div class="wrapper">
    <div class="lists-container">
      <div class="top-part">
        <h3>Lists</h3>
        <div class="list-items">
          <app-list-item></app-list-item>
        </div>
      </div>

      <div class="bottom-part">
        <button class="new-list-btn">+ New List</button>
      </div>
    </div>

    <div class="tasks-container">
      <div class="task-header">
        <h3>Tasks</h3>
        <span>
          <mat-icon aria-label="settings icon" class="settings-icon"
            >settings</mat-icon
          >
        </span>
      </div>

      <div class="task-wrapper">
        <app-task-item></app-task-item>
      </div>
      <button class="add-task">+</button>
    </div>
  </div>
</div>
