<div class="container">
  <div class="wrapper">
    <div class="lists-container">
      <div class="top-part">
        <h3>Lists</h3>
        <div class="list-items">
          <app-list-item [createdList]="createdList"></app-list-item>
        </div>
      </div>

      <div class="bottom-part">
        <button
          class="new-list-btn"
          mat-raised-button
          (click)="openDialog('list')"
        >
          + New List
        </button>
      </div>
    </div>

    <div class="tasks-container">
      <div class="task-header">
        <h3>Tasks</h3>
        <span
          [matTooltip]="listId ? '' : 'Please select a list.'"
          [matMenuTriggerFor]="menu"
        >
          <mat-icon aria-label="settings icon" class="settings-icon"
            >settings</mat-icon
          >
        </span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Edit List</button>
          <button mat-menu-item>Delete List</button>
          <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
      </div>

      <div class="task-wrapper">
        <app-task-item [createdTask]="createdTask"></app-task-item>
      </div>
      <button
        class="add-task"
        mat-raised-button
        (click)="openDialog('task')"
        [disabled]="!listId"
      >
        +
      </button>
    </div>
  </div>
</div>
